extends layout

block content

	h1 Welcome to Lab 2

	// If the method is anything else show the error message
	h3 #{errorMessage}
	// Display the full math operation and the result
	h3 #{x} #{method} #{y} = #{result}
  


	p Kuan-Wen Liu 200409537